@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  width: 100vw;
  display: flex;
  background: white;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
